@page
@model sistema_academico.Pages.Alumno.tablaalumnosmodel
@{
}
<a asp-page="CreateAlumno" class="btn btn-success mb-3">Agregar alumno</a>
@if (Model.Alumnos.Count == 0)
{
    <p>No hay alumnos cargados</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>DNI</th>
                <th>Email</th>
                <th>Fecha de nacimiento</th>
            </tr>
        </thead>
        <tbody>
            @* alumnos *@
            @foreach (var alumno in Model.Alumnos)
            {
                <tr>
                    <td>@alumno.Id</td>
                    <td>@alumno.Nombre</td>
                    <td>@alumno.Apellido</td>
                    <td>@alumno.Dni</td>
                    <td>@alumno.Email</td>
                    <td>@alumno.FechaNacimiento</td>
                    <td>
                        <a asp-page="EditarAlumno" asp-route-id="@alumno.Id" class="btn btn-warning btn-sm">Editar</a>
                        <a asp-page="DeleateAlumno" asp-route-id="@alumno.Id" class="btn btn-warning btn-sm">Eliminar</a>
                    </td>

                    @* 
                        tahiel hdp fijate los nombres
                    *@

                </tr>
            }
        </tbody>
    </table>
}